<div class="col-md-6 col-md-offset-3">
  <% if @collector.new_record? %>
    <% path = admin_collectors_path %>
  <% else %>
    <% path = admin_collector_path(@collector) %>
  <% end %>
  <%= form_for(@collector, url: path) do |collector| %>
    <% if @collector.errors.any? %>
      <% @collector.errors.each do |attribute, message| %>
        <h3 class="validation-error"><%= attribute %> <%= message %></h3>
      <% end %>
    <% end %>

    <div class="field form-group">
      <%= collector.label :first_name, "Nombre", class: "lead lead-lg"  %>
      <%= collector.text_field :first_name, class: "form-control", id: "password" %>
    </div>

    <div class="field form-group">
      <%= collector.label :last_name, "Apellidos", class: "lead lead-lg"  %>
      <%= collector.text_field :last_name, class: "form-control", id: "password" %>
    </div>

    <div class="field form-group">
      <%= collector.label :email, "Correo Electr칩nico:", class: "lead lead-lg" %>
      <%= collector.email_field :email, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
    </div>

    <div class="field form-group">
      <%= collector.label :id_number, "Documento de Identidad:", class: "lead lead-lg"  %>
      <%= collector.text_field :id_number, class: "form-control", id: "password" %>
    </div>

    <% if collector.object.avatar.url != "http://i592.photobucket.com/albums/tt5/Mardini03/imagen-no-disponible.png" %>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-4 edit_images">
          <%= image_tag collector.object.avatar.url(:mini_thumb) %>
        </div>

        <div class="col-md-9 col-sm-8 col-xs-8">
          <%= collector.label :id_number, "Im치gen de perfil:", class: "lead lead-lg"  %>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="form-group reg-email">
              <div>
                <%= collector.file_field :image, class: "input-file" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="field form-group">
        <%= collector.label :id_number, "Im치gen de perfil:", class: "lead lead-lg"  %>
        <%= collector.file_field :image, required: true, class: "input-file form-control" %>
      </div>
    <% end %>

    <div class="row" style="margin-top: 20px;">
      <div class="actions form-group text-center">
        <%= collector.submit "Guardar Informaci칩n", class: "btn btn-ar btn-lg btn-success" %>
      </div>
    </div>
  <% end %>
</div>