<div class="container">
  <h2><%= @form.name %></h2>
  <div class="box-body row">
    <div class="table-responsive col-md-12">
      <table class="table no-margin">
        <thead>
          <tr>
            <% @form.questions.limit(5).each do |question| %>
              <th><%= question.text %></th>
            <% end %>
              <th>Ver</th>
          </tr>
        </thead>
        <tbody>
          <% @form.form_responses.each do |form_response| %>
          <tr>
            <% form_response.question_responses.limit(5).each do |question_response| %>
              <td>
                <% if question_response.question.image? %>
                  <%= image_tag question_response.image.url(:thumb) %>
                <% else %>
                  <%= question_response.to_s %>
                <% end %>
              </td>
            <% end %>
              <td>
                <%= link_to admin_form_response_path(form_response) do %>
                  <i class="glyphicon glyphicon-eye-open"></i>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to admin_forms_path do %>
        <button type="button" class="btn btn-default" style="margin-top: 20px;">Regresar a formularios</button>
      <% end %>
    </div><!-- /.table-responsive -->
  </div><!-- /.box-body -->
</div>
